{% extends "template.html" %}

{% block title %}
	Chat
{% endblock %}

{% block body %}

<div class="container-fluid mb-4 mt-3">
	<div class="row">
		<div class="col-md-2 col-sm-6 text-center">
			<!-- Drop Down for creating the channel-->
			<div class="dropdown">
			  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Show
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" href="">Public Channels</a>
			    <a class="dropdown-item" href="">Private Channels</a>
			    <a class="dropdown-item" href="" id="private-message-dropdown">Private Messages</a>
			  </div>
			</div>

		</div>					
		<div class="col-md-3 col-sm-6 text-center">
			<button class="btn btn-success" id="private-message" data-toggle="modal" data-target="#taking-friends-input">Private Messages</button>
		</div>					
		<div class="col-md-3 col-sm-6 text-center">

			<!-- Drop Down for creating the channel-->
			<div class="dropdown">
			  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Create Channel
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" data-toggle="modal" data-target="#public-channel">Public</a>
			    <a class="dropdown-item" data-toggle="modal" data-target="#private-channel">Private</a>
			  </div>
			</div>

		</div>					
		<div class="col-md-4 col-sm-6 text-center">
			<span id="display-label">Display Name</span>
			<input type="text" id="display-name">&nbsp;&nbsp;&nbsp;
			<button class="btn btn-secondary" id="name-save-button">Save</button>
		</div>					
	</div>
</div>

<!-- 2nd Row that's the medium-->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 text-white rounded bg-primary pt-3" id="channel-list">
			
		</div>
		<div class="col-md-9 border border-light" id="medium">
			
		</div>
	</div>
</div>

<!-- 3rd Row that's the medium-->
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-md-3 text-center">
			<span id="id_label">Your Id:</span> <span id="allocate_id"></span>
		</div>
		<div class="col-md-9" id="form-div">
			<form id="send-message">
				<input type="text" name="message" id="send-input-field" width="100" minlength="1" placeholder="Write Your Message Here" data-id="">
				<button type="submit" class="btn btn-light" id="send-button">Send</button>
				<input type="file" id="attachment">
			</form>
		</div>
	</div>
</div>

<!-- MOdal to take public channel name input-->
<div class="modal fade" id="public-channel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter Public Channel Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="modal-input" id="public-input">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="input-channel btn btn-primary" data-view="public">Create Channel</button>
      </div>
    </div>
  </div>
</div>

<!-- MOdal to take private channel name input-->
<div class="modal fade" id="private-channel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter Private Channel Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="modal-input" id="private-input">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="input-channel btn btn-primary" data-view="private">Create Channel</button>
      </div>
    </div>
  </div>
</div>

<!-- popup for taking the input for friend's id to communicate with it-->
<div class="modal fade" id="taking-friends-input" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter Your Friend's ID</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="modal-input" id="friend-id-input">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="input-channel btn btn-primary" id="submit-friend-id">Done</button>
      </div>
    </div>
  </div>
</div>

<!-- popup for confirmation if user wants persoanl message with someone-->
<div class="modal fade" id="private-decision" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Do you want to Communicate?</h5>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div><span id="name"></span> want to communite whose id is <span id="id"></span></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="no" data-dismiss="modal">No</button>
        <button type="button" class="input-channel btn btn-primary" id="yes" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}